<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sys.gets">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gets"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.product.ProductActivity"
            android:exported="true" />
        <activity
            android:name=".ui.coordination.CoordinationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.account.PasswordActivity"
            android:label="@string/msg_change_password"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Gets.ActionBar" />
        <activity
            android:name=".ui.account.InfoActivity"
            android:label="@string/title_info_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Gets.ActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign.SignupActivity"
            android:label="@string/button_signup"
            android:parentActivityName=".sign.LoginActivity"
            android:theme="@style/Theme.Gets.ActionBar" />
        <activity
            android:name=".sign.LoginActivity"
            android:theme="@style/Theme.Gets.Sign" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>