<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="ko">
    <title string-from="api_title"></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/api.css'/>
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script src="javascripts/strings.js"></script>
    <script src="javascripts/header.js"></script>
    <script>
        $(document).ready(() => {
            $('footer').load('footer.ejs')
            getStrings()
            $("#redirect_api_button").click(() => {
                window.open("/api")
            })
        })
    </script>
</head>
<body>
<header>
    <div class="mdc-elevation--z2" id="main_header">
        <div class="title_header">
            <!--            <img class="main_icon" src="">-->
            <h1 class="main_logo mdc-typography--headline1">Gets</h1>
        </div>
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab" id="tab_home" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
                                <span class="mdc-tab__text-label" string-from="home"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_category" role="tab" aria-selected="false" tabindex="1">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">list</span>
                                <span class="mdc-tab__text-label" string-from="category"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_closet" role="tab" aria-selected="false" tabindex="2">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">door_sliding</span>
                                <span class="mdc-tab__text-label" string-from="closet"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_coordination" role="tab" aria-selected="false" tabindex="3">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">checkroom</span>
                                <span class="mdc-tab__text-label" string-from="coordination"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <section class="api_description">
        <div class="mdc-typography--headline3">API Center</div>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4" string-from="api_sign"></div>
        <div class="mdc-typography--headline5" string-from="api_sign_in"></div>
        <p class="mdc-typography--body1">
            POST: api/signin
            <br>
            params: email, pw
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5" string-from="api_sign_up_check"></div>
        <p class="mdc-typography--body1">
            POST: api/signup/check
            <br>
            params: email
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5" string-from="api_sign_up_basic"></div>
        <p class="mdc-typography--body1">
            POST: api/signup/basic
            <br>
            params: email, pw, name, phone, year, month, day, address, addressDetail
            <br>
            return: {"result": boolean}
        </p>
        <div class="mdc-typography--headline5" string-from="api_sign_up_info"></div>
        <p class="mdc-typography--body1">
            POST: api/signin/info
            <br>
            params: email, gender, height, weight, topSize, bottomSize, style, fit
            <br>
            return: {"result": boolean}
        </p>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4" string-from="api_weather"></div>
        <p class="mdc-typography--body1">
            POST: api/weather
            <br>
            params: latitude, longitude
            <br>
            return: {"pop": int, "form": int, "sky": int, "tem": float, "max": float, "min": float}
            <br>
            * (
            "form": 0(undefined), 1(rain), 2(rain_snow), 3(snow), 4(rain_shower), 5(rain_light), 6(rain_snow_light), 7(snow_light),
            "sky": 1(clear), 3(partly_cloudy), 4(cloudy)
            )
        </p>
    </section>
    <section class="api_description">
        <div class="mdc-typography--headline4" string-from="api_product"></div>
        <div class="mdc-typography--headline5" string-from="api_product_image"></div>
        <p class="mdc-typography--body1">
            POST: api/product/image/:imageID
            <br>
            params:
            <br>
            return: image file
        </p>
        <div class="mdc-typography--headline5" string-from="api_product_list"></div>
        <p class="mdc-typography--body1">
            POST: api/product/list/:page
            <br>
            params: search, type, detail, gender, color, fit, season, fiber, age, style, priceMin, priceMax
            <br>
            return: [{result: boolean}] | list
        </p>
        <div class="mdc-typography--headline5" string-from="api_product"></div>
        <p class="mdc-typography--body1">
            POST: api/product/:id
            <br>
            params:
            <br>
            return: {result: boolean} | product
        </p>
        <div class="mdc-typography--headline5" string-from="api_review_add"></div>
        <p class="mdc-typography--body1">
            POST: api/review/add/:productID
            <br>
            params: userEmail, star, contents, image1ID, image2ID, image3ID
            <br>
            return: {result: boolean}
        </p>
        <div class="mdc-typography--headline5" string-from="api_review_fit"></div>
        <p class="mdc-typography--body1">
            POST: api/review/fit/:productID
            <br>
            params: userEmail, order, isReverse
            <br>
            return: [{result: boolean, error: string}] | list
        </p>
        <div class="mdc-typography--headline5" string-from="api_review"></div>
        <p class="mdc-typography--body1">
            POST: api/review/:productID
            <br>
            params: order, isReverse
            <br>
            return: [{result: boolean}] | list
        </p>
    </section>
</div>
<footer></footer>
<script>mdc.autoInit()</script>
</body>
</html>
