<!DOCTYPE html>
<html>
<head>
    <style>
        #main_footer {
            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
<footer id="main_footer">
<!--    <a href="/" class="logo">-->
<!--        <div role="img" class="sys-logo" aria-label="Show your style">-->

<!--        </div>-->
<!--    </a>-->
    <div>
        <ul>
            <li>
                <a target="_blank" href="https://github.com/LeeSeungYun1020/Gets">
                    Github
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>