<footer id="main_footer">
    <div id=footer_layout>
        <div id=footer_logo><img src="/images/footer/logo.png"></div>
        <div class="mdc-typography--headline3">API Server</div>
    </div>
</footer>
