<footer id="main_footer">
    <div id = footer_layout>
        <div id = footer_logo >LOGO</div>
        <div id = detail>
            <div class = detail_component>
                <span class = footer_title>About GETs</span>
                <div class = footer_category>
                    <span>회사소개</span>
                    <span>주소</span>
                    <span>전화번호</span>
                </div>
            </div>
            <div class = detail_component>
                <span class = footer_title>Feedback</span>
                <div class = footer_category>
                    <span>FAQ</span>
                    <span>1:1 상담</span>
                </div>
            </div>
            <div class = detail_component>
                <span class = footer_title>Privacy policy</span>
                <div class = footer_category>
                    <span>개인정보 수집</span>
                    <span>개인정보 제공</span>
                    <span>개인정보 이름</span>
                </div>
            </div>
            <div class = detail_component>
                <span class = footer_title>My page</span>
                <div class = footer_category>
                    <span>개인정보 수정</span>
                    <span>배송 조회</span>
                    <span>내 스타일</span>
                </div>
            </div>
            <div class="mdc-menu mdc-menu-surface">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">A Menu Item</span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">Another Menu Item</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
