<header>
    <div id="logo">
        <a href="/"><img src="/images/header/logo.png" height="50px"/></a>
    </div>
    <nav>
        <ul>
            <li><a id="tab_home" href="/">Home</a></li>
            <li><a id="tab_closet" href="/closet">Closet</a></li>
            <li><a id="tab_product" href="/product">Product</a></li>
            <li><a id="tab_product" href="#">Style</a></li>
        </ul>
    </nav>

    <div id="top_menu">
        <a href="/cart"><img src="/images/header/cart.png"></a>
        <a href="/account/info"><img src="/images/header/my_page.png"></a>
        <a href="/account/signin"><img src="/images/header/log_in.png"></a>
    </div>

</header>