<header>
    <div id="logo">
        <a href="/"><img src="/images/header/logo.png" height="50px"/></a>
    </div>
    <nav>
        <ul>
            <li><a id="tab_home" href="/">API</a></li>
            <li><a id="tab_api" href="/api">API</a></li>
            <li><a id="tab_auth" href="/account">Auth</a></li>
            <li><a id="tab_auth" href="/input">Input</a></li>
        </ul>
    </nav>
</header>