<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="ko">
    <title string-from="main_title"></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <script src="javascripts/strings.js"></script>
    <script src="javascripts/header.js"></script>
    <script>
        $(document).ready(() => {
            $('footer').load('footer.ejs')
            getStrings()
            const tabBar = new mdc.tabBar.MDCTabBar(document.querySelector('.mdc-tab-bar'));
            $("#redirect_api_button").click(() => {
                window.open("/api")
            })
            changeImage()
        })
        let imageIndex = 1
        function changeImage() {
            setTimeout(() => {
                imageIndex++
                if (imageIndex > 3)
                    imageIndex = 1
                $("#home_image").attr("src", `images/phone${imageIndex}.jpg`)
                changeImage()
            }, 3000)
        }
    </script>
</head>
<body>
<header>
    <div class="mdc-elevation--z2" id="main_header">
        <div class="title_header">
<!--            <img class="main_icon" src="">-->
            <h1 class="main_logo mdc-typography--headline1">Gets</h1>
        </div>
        <div class="mdc-tab-bar mdc-theme--primary mdc-theme--text-primary-on-background" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab" id="tab_home" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
                                <span class="mdc-tab__text-label" string-from="home"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_category" role="tab" aria-selected="false" tabindex="1">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">list</span>
                                <span class="mdc-tab__text-label" string-from="category"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_closet" role="tab" aria-selected="false" tabindex="2">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">door_sliding</span>
                                <span class="mdc-tab__text-label" string-from="closet"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_coordination" role="tab" aria-selected="false" tabindex="3">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">checkroom</span>
                                <span class="mdc-tab__text-label" string-from="coordination"></span>
                            </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div>
    <section class="mdc-elevation--z1 main_image_slide">
        <img id="home_image"
             alt="image" src="images/phone1.jpg">
    </section>
    <section class="button_section mdc-theme--primary">
        <button id="redirect_api_button" class="mdc-button mdc-button--raised">
            <span class="mdc-button__label" string-from="redirect_api"></span>
        </button>
    </section>
</div>
<footer></footer>
<script>mdc.autoInit()</script>
</body>
</html>
