<!DOCTYPE html>
<html>
<head>
    <%- commonHead %>

    <title><%= string.name_title %> ></title>
    <script>
		$(document).ready(() => {

		})
    </script>
</head>

<body>

<%- include('header'); -%>

<%- include('footer'); -%>
</body>
</html>
