.closet_card .MuiPaper-elevation1 {
  box-shadow: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.32));
}

.closet_card svg {
  width: 35px;
  height: auto;
}

.closet_card h2 {
  margin: 0;
}

#closet_category {
  display:flex;
  max-width: 1300px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 30px;
}

#closet_category h1 {
  color: #D4D3D3;
  width:350px;
  padding-bottom: 15px;
  border-bottom : 6px solid #D4D3D3;
}
#closet_category .active h1 {
  color: #7eb693;
  width:350px;
  padding-bottom: 15px;
  border-bottom : 6px solid #7eb693;
}

.closet_card_list {
  display: flex;
  max-width: 1320px;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 60px;
}

.closet_card {
  margin: 20px 10px 5px 10px;
}

.detail_item_img {
  width: 223px;
  heght: 223px;
  box-shadow: 3px 5px 12px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.detail-div {
  display: flex;
}

.detail_coordi_card p {
  font-weight: 600;
  margin-right: 90px;
  width: 160px;
}

.item_info {
  display: flex;
  flex-direction: column;
  max-width: 223px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.item_info h3 {
  height: 57px;
  margin-bottom: 5px;
}
.item_info p {
  width: 223px;
  font-weight: normal;
  margin:0
}

.item_list {
  display: flex;
  width: 988px;
  flex-wrap: wrap;
}
#detail_page {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.detail_coordi_card h1 {
  display: block;
  margin-bottom: 40px;
}

#virtualFitting-button {
  background-color: #ffffff;
  width: 410px;
  height: 80px;
  border: 5px solid #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 120px;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}

.coordi_card {
  display: flex;
  flex-direction: column;
}

.coordi_img {
  display: flex;
  align-items: center;
  width: 455px;
  height: 723px;
  margin-left: 40px;
  box-shadow: 3px 5px 12px 0 rgba(0, 0, 0, 0.3);
}

.coordi_card h1 {
  justify-content: start;
  margin-left: 24px;
  margin-bottom: 20px;
}