// 홈 화면 스타일 시트
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900");

body {
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden; // 가로 스크롤 없애기
}

#title {
  margin-left: 57vw;
  margin-top: 448px;
  object-fit: contain;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
}

#my_style h1 {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder;
  margin-top: 3ex;
  margin-bottom: 3.5ex;
}

.select_style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#select_area {
  display: flex;
  justify-content: center;
  color: #828282;
}

#style {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

#bar {
  display: flex;
  width: 75vw;
  height: auto;
  margin: 4vh auto 0;
}

#recommend {
  color: #000000;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder;
}

.magazine { // 기사 가운데 정렬
  box-sizing: border-box;
  text-align: center;
}

.swiper-container {
  width: 100% !important;
  height: 100% !important;
}

.swiper-slide {
  text-align: center !important;
  font-size: 18px !important;
  background: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #d4d3d3 !important;
  opacity: 0.9 !important;
}

.swiper-pagination-bullet-active {
  background: black !important;
}

:root {
  --swiper-theme-color: #d4d3d3 !important;
  --swiper-navigation-size: 70px !important;
}

.select {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  width: 8vw;
  border: none;
  background: #FFFFFF url("../images/home/select_nav.webp") no-repeat scroll right center;
  display: block;
  overflow: hidden;
  color: #000;
}

.select-ul {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 18px;
  color: #d4d3d3;
  display: none;
  position: absolute;
  background: #FFFFFF;
  border-top: none;
  padding-inline-start: 0;
}

#style_select {
  display: flex;
  justify-content: center;
}

#select_area {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.select_box {
  margin-left: 1vw;
}

.line {
  border-left: 2px solid #d4d3d3;
  height: 60%;
  margin-left: 1.5vw;
}

.select-ul > div {
  display: flex;
  flex-direction: column;
  // border-top : 2px solid #828282;
}

.select-ul > div:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 90%; /* or 100px */
  border-bottom: 2px solid #828282;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul li {
  width: 7.5vw;
  margin: 0;
  padding-left: 0.5vw;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  font-family: 'Noto Sans KR', sans-serif;
}

#my_style {
  height: 40ex;
  position: relative;
  z-index: 1;
}

.select-ul {
  margin-block-start: 0;
  //box-shadow: 0 2px 14px 0 rgba(83, 83, 83, 0.5);
}

h1 {
  margin-block: 0;
  display: flex;
  justify-content: center;
}

.style_deselected {
  border: 5px solid #d4d3d3;
  border-radius: 70%;
  padding: 5px;
  margin: 1vw;
}

.style_selected {
  border: 5px solid #7eb693;
  border-radius: 70%;
  padding: 5px;
  margin: 1vw;
  //color : #7eb693;
}

.style_selected_text {
  color: #7eb693;
  font-family: 'Roboto', serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.style_deselected_text {
  color: #d4d3d3;
  font-family: 'Roboto', serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.style {
  color: #d4d3d3;
  font-family: 'Roboto', serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.style div {
  display: flex;
  flex-direction: column;
  margin-top:3px;
  margin-bottom: 3px;
}

#getstyle_button {
  background: #FFFFFF;
  font-family: Roboto;
  font-weight: bolder;
  font-size: 20px;
  width: 163px;
  height: 57px;
  border : 3px solid black;
  margin: 80px auto 50px auto;
}

#home_getstyle #home_button {
  display: flex;
}

.recommend_line {
  width: 75%;
  border-bottom: 3px solid #d4d3d3;
  margin: 0 auto;
}

#recommend_style > h1 {
  margin-top:5ex;
  margin-bottom: 1ex;
}

#recommend > h1 {
  margin-bottom: 40px;
}

#recommend_style {
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Noto Sans KR', sans-serif;
}
#recommend_style > p {
  display:flex;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 3em;
}

#style_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#style_card div {
  display: flex;
  justify-content: center;
  margin-bottom: 3ex;
  flex-wrap: wrap;
}

.MuiTypography-h5 {
  font-weight: bold !important;
  font-family: 'Noto Sans KR', sans-serif !important;
  margin-top: 15px !important;
}

.MuiCardContent-root {
  display: flex !important;
  flex-direction: column !important;
  width:294px !important;
  padding-left: 1.5vw !important;
}

.MuiTypography-gutterBottom {
  margin-bottom: 0 !important;
}

.view_more {
  background: #FFFFFF;
  font-family: Roboto;
  font-weight: bolder;
  font-size: 18px;
  width: 163px;
  height: 57px;
  border : 3px solid black;
  display: block;
  margin: auto;
}

#style_card_div .view_more {
  margin-bottom: 5ex;
  margin-top: 3ex;
}

.MuiCardMedia-root {
  background-size: 100% !important;
}

.slick-track {
  display:flex;
}

#style_info {
  background-color: rgba(126, 182, 147, 0.2);
}

.style_info_img {
  position:relative;
  display:flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  margin-top: 100px;
  width: 320px !important;
}

.style_info_img h2 {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  margin: 0;
}

.slick-list {
  position: relative;
}
.style_info_img img{
  width:100%;
  height: 450px !important;
  box-shadow: 8px 2px 20px 0 rgba(0, 0, 0, 0.5);
}

.style_info_img:hover img{
  filter: brightness(30%);
}

.style_info_img:hover h2{
  visibility: visible;
  opacity: 1;
  color:#ffffff;
  z-index: 1;
}

#style_select .jylytn {
  background-color: #ffffff;
  color: #000000 !important;
}

#style_select .kmBEJr {
  background-color: #ffffff !important;
  color: #000000 !important;
}

#style_info_box {
  display: flex;
  padding-left: 10px;
}

#style_info_box .eLUbDq {
  border: none !important;
}

#style_info_box .cQOkHd {
  fill: black !important;
  stroke: black !important;
}

#style_info_box h3 {
  color: #828282;
  padding-left: 10px;
}

#info_1, #info_2, #info_3 {
  border-right: 2px solid #d4d3d3;
  height:70%;
  margin-top: auto;
  margin-left: 15px;
}

#home_style_guide h1 {
  margin-top: 3ex;
  margin-bottom: 4ex;
}

// 옵션 이름 배경,옵션
.jylytn, .kmBEJr {
  background-color: #FFFFFF !important;
  color: #828282 !important;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bolder !important;
}

// 옵션 선택한거 띄워주는 창
.gVrQNs {
  font-size:18px !important;
  padding-left: 10px !important;
}

// 옵션 box 그림자
.hOAtes {
  box-shadow: 0 2px 8px 0 rgba(83, 83, 83, 0.5) !important;
}

.slick-arrow {
  display:inline-block !important;
  position: absolute;
}

.slick-prev {
  z-index: 1;
  //padding-top: 295px;
  padding-left: 50px;
  transform: translateY(455%);
}

.slick-next {
  z-index: 1;
  //top: 3435px;
  right: 0px;
  padding-right: 50px;
  transform: translateY(-514%);
}

.slick-list {
  margin-bottom: 80px;
}

#recommend_card {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}

.MuiTypography-h6 {
  font-family: 'Noto Sans KR', sans-serif !important;
}