@use "node_modules/@material/theme/index" with ($primary: #7eb693, $secondary: #FFFFFF, $background: #000000);
//@use "node_modules/@material/button/mdc-button";
//@use "node_modules/@material/button";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'NotoSansKR', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

header {
  background-color: #00200f;
  position: relative;
  display: flex;
  font-family: 'Noto Sans KR', sans-serif;
  align-items: center;
  width: 100%;
  height: 80px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  display: inline-block;
  font-size: 30px;
  margin-left: 9vw;
}

#logo > a {
  display: flex;
}

#top_menu p {
  display:flex;
  justify-content: center;
  margin:0;
  font-size: 10px;
  font-weight: normal;
}

ul li {
  display: inline-block;
  margin-left: 5vw;
  font-family: Roboto;
}

ul a {
  color: #d3d3d3 !important;
  font-size: 15px;
  opacity: 0.7;
}

ul li.on {
  color: #ffffff;
}

nav {
  margin-left:1vw;
}
#top_menu {
  display: flex;
  margin-left: auto;
  margin-right: 9vw;
  justify-content: space-between;
}

.tab {
  margin-left: auto;
  margin-right: 7vw;
  justify-content: space-between;
}

#top_menu a {
  margin-left: 1.5vw;
}

.tab:hover{
  border-bottom:3px solid white;
  opacity: 1;
  color:white !important;
  padding-bottom:26px;
}

.tab:active, .tab.active{
  border-bottom:3px solid white;
  color:white;
  padding-bottom:26px;
  opacity: 1;
}
.tab:active>a, .tab.active>a{
  opacity:1 !important;
  color:white !important;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

footer {
  background-color: #00200f;
  color: #ffffff;
  position: absolute;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

footer #footer_layout {
  margin-left: 10vw;
}

footer #footer_logo {
  font-size: 3ex;
  margin-left: 10vw;
}
#footer_logo > img {
  width:100px;
  height:auto;
}
footer #detail {
  display: flex;
  margin-bottom: 20px;
}

#footer_top {
  margin-top: 60px;
  margin-bottom: 40px;
  display:flex;
}

#footer_icon {
  margin-left: 49.3vw;
}

#footer_icon > img {
  margin-left: 1.5vw;
}
footer .detail_component {
  display: flex;
  flex-direction: column;
  width: 14vw;

}

footer .footer_title {
  font-size: 2.5ex;
  font-weight: bolder;
  margin-bottom: 2.3ex;
}

.footer_category {
  display: flex;
  flex-direction: column;
  font-size: 1.8ex;
}

.footer_category > span {
  margin-bottom: 1.5ex;
}

#footer_address {
  color: #828282;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 30px;
}

#footer_address div{
  margin-bottom: 5px;
}

.not_found_box {
  text-align: center;
}

// 언어 선택하는 드롭다운 박스 배경
.eLUbDq {
  border:none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #d4d3d3 !important;
}

// footer 드롭다운 테두리 없앰
.cNXtw {
  border: none !important;
}

// 드롭다운 박스 선택된거
.hZZumW {
  width: 9vw;
}

// 드롭다운 화살표 아이콘
// 드롭다운 박스 테두리 준거
.jAWuzL {
  border-bottom: 2px solid #FFFFFF;
}

.gXxxge {
  padding: 0 !important;
}

.cVOXoU {
  margin: 0px !important;
}

// 드롭다운 박스 안에 글자 padding
.gVrQNs {
  padding: 0 0 4px !important;
  margin: 0 !important;
}

.gXxxge {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:16px !important;
}

.grKNhv {
  font-family: 'Noto Sans KR', sans-serif;
}
