.card_info svg {
  font-size: 16px;
  color: #c4c4c4;
  margin-right: 4px;
}

.card_info {
  display:flex;
}

.card_info .MuiTypography-h6 {
  font-weight: bolder !important;
}

.card_info .MuiTypography-h5 {
  margin:0;
  margin-top:0 !important;
}

.card_like {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.my_favorit {
  display:flex;
  flex-direction: row-reverse;
  padding-top: 5px;
  padding-right: 15px;
}

.product .MuiCheckbox-colorSecondary.Mui-checked {
  color: #ff0000;
}
.product .MuiFormControlLabel-root {
  margin:0 !important;
  background-color: #ffffff;
  border-radius: 50%;
}

.product .MuiCardContent-root {
  padding : 0 16px 10px 16px;
}

// 상품명
.product .MuiTypography-h5{
  margin-top: 0 !important;
  max-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow :ellipsis;
  font-size: 1.3rem;
}

.product .MuiPaper-elevation1 {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5) !important;
}

.product {
  display:flex;
  margin-left: 15vw;
}

@media screen and (max-width: 768px) {
  #product_category {
    display: none;
  }
}


// category 구분 선
.product .kRcyMg{
  border-bottom: solid 2px #000000 !important;
}

.product .jLSzwp {
  fill: #000000;
  stroke: #000000;
}

.category_title {
  display: flex;
  justify-content: center;
  border-bottom: solid 2px #000000;
}

.product .jcBJPm {
  padding: 10px 0px 10px 30px;
  font-weight: 600;
  cursor: pointer;
}

.product .jcBJPm:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.my_location {
  display: flex;
}
.my_location h4 {
  margin-right: 10px;
}

.location_arrow {
  font-weight: 400;
}

// 선택됐을때
.product .bmPKDD {
  padding: 10px 0px 10px 30px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: none;
}

.product .MuiSvgIcon-root {
  width: 18px !important;
  height: 18px !important;
}

.product .MuiCheckbox-root {
  color: #c4c4c4;
}

#product_list {
  display:flex;
  flex-direction: column;
}

.product_card {
  max-width: 1080px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap
}

.card_like .MuiTypography-h5 {
  display: flex;
  align-items: center;
}

.product a {
  text-decoration: none !important;
  color: #000000 !important;
}

.detail-product {
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
  justify-content: center;
}

#detail-product-img img {
  width: 520px;
  box-shadow: 3px 5px 12px 0 rgba(0, 0, 0, 0.3);
}

.detail-product h2 {
  margin: 0;
}

#money-div h2 {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 10px;
}

.detail-line {
  width: 700px;
  border-bottom: 3px solid #d4d3d3;
  margin-top: 24px;
}

.detail-info {
  margin-left: 90px;
}

#product-category {
  display: flex;
  margin-bottom: 10px;
}
#product-category h4 {
  margin-right: 10px;
}
.detail-module {
  display:flex;
  max-width: 700px;
}
.detail-module-right {
  display: flex;
}
.detail-module-right h4 {
  margin-right: 5px;
}
.detail-product h4 {
  margin-top: 0px;
  margin-bottom: 16px;
}
.module-title {
  width: 120px;
}

.module-circle {
  font-size: 14px;
  border-radius: 15px;
  border: 1.5px solid #000000;
  padding: 4px 23px 4px 23px;
  margin-right: 12px;
}

#add-closet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 700px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-family: NotoSansKR;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

#add-closet svg {
  color: #ff0000;
  margin-right: 20px;
  width: 14px;
}