#register_form input, #detail_info_item input {
  height: 45px;
  width: 534px;
  display: flex;
  justify-content: center;
  border-radius:8px;
  border :2px solid #dbdbdb;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

.black_line {
  width: 556px;
  border-bottom: 4px solid #000000;
  margin: auto;
  margin-bottom: 50px;
  margin-top:25px
}

.essential {
  color: #ff0000;
}

.info {
  display: flex;
  width: 556px;
  margin: auto;
}
.info > h4{
  margin-top: 0;
  margin-bottom: 10px;
}

.essential {
  margin-right: 2px;
}

#register_title {
  margin-top: 200px;
}

#agree_line {
  width: 556px;
  border-bottom: 2px solid #d4d3d3;
  margin: 35px auto 35px auto;
}

.custom_checkbox {
  height: 45px;
  width: 534px;
  display: flex;
  border-radius:8px;
  border :2px solid #dbdbdb;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
}

.custom_checkbox input {
  margin-bottom: 0px !important;
}

.MuiTypography-body1 {
  font-family: 'Noto Sans KR', sans-serif !important;
  font-weight: bolder !important;
}

#register_form .MuiSvgIcon-root {
  width:32px !important;
  height:32px !important;
}

#register_submit, #detail_submit {
  margin-top: 35px !important;
  margin-bottom: 150px !important;
  width:560px !important;
  height: 60px !important;
  background-color: #00200f;
  color: #FFFFFF;
  border : none !important;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  cursor:pointer;
}

#input_birth{
  display: flex;
  justify-content: center;
}

#input_birth > input {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 0px;
  width:151px;
}

#checkId {
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 560px;
}

#checkPw {
  font-size: 15px;
  display: flex;
  margin: auto;
  width: 560px;
}

#after_register button {
  height: 56px;
  width: 560px;
  border-radius:8px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  cursor:pointer;
}

#after_register #addinfo {
  background-color: white;
  border :3px solid #000000;
}

#after_register #notadd {
  background-color: #828282;
  color: white;
  border: 3px solid #828282;
  margin-bottom: 180px;
}

#info {
  display:flex;
  flex-direction: column !important;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px
}

#info h1 {
  margin-left: 0;
  margin-right: auto;
}

.detail_gender {
  display:flex;
  justify-content: center;
}

.detail_gender input {
  margin-left: 15px !important;
  margin-right: 15px !important;
  width: 264px !important;
  height: 51px !important;
  background-color: white;
  padding: 0 !important;
  cursor:pointer;
}

#prefer_info {
  display: flex;
  width: 560px;
}

#detail_info_item h1 {
  margin: 0px;
}

#detail_info_item .style {
  justify-content: normal;
  margin-bottom: 35px;
}

#detail_info_item .style_deselected {
  margin-right: 0;
  margin-left: 0;
}

#detail_info_item .style_selected {
  margin-right: 0;
  margin-left: 0;
}
#detail_info_item #recommend {
  width:600px;
}

#detail_info_item .style>div {
  margin-right:40px
}

#after_register_button {
  display:flex;
  flex-direction: column;
}

#after_register h1 {
  margin-top: 210px;
  margin-bottom: 120px
}

#detail_selectbox {
  display:flex;
}

#size_div{
  display:flex;
  flex-direction: row;
}

.MuiSelect-icon {
  color: #000000 !important;
  top: auto !important;
}

.MuiOutlinedInput-root {
  border-radius: 8px !important;
  border: 2px solid #dbdbdb !important;
}

.PrivateNotchedOutline-root-3 {
  border-width: 0px !important;
}

.MuiOutlinedInput-input {
  padding: 15px 13px !important;
}